addons/hr_adbook/models/__pycache__/hr_employee.cpython-36.pyc
addons/hr_adbook/models/__pycache__/hr_employee.cpython-36.pyc
.gitignore
addons/hr_adbook/models/__pycache__/hr_employee.cpython-36.pyc
addons/hr_adbook/models/__pycache__/hr_employee.cpython-36.pyc
