.social_image {
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.author_avatar {

    width: 25px;
    height: 25px;
    object-fit: cover;
    max-width: none !important;
}


.author_name {

    margin: auto;
    font-size: 14px;
}
